<div class="header-container">
  <h2>Develop a project.</h2>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <h6>Choose the theme</h6>
    <button ngbDropdownItem (click)="changeTheme('light')">Light</button>
    <button ngbDropdownItem (click)="changeTheme('dark')">Dark</button>
  </div>
</div>
<div class="progress-wrapper">
  <div id="progress-bar-container">
    <ul>
      <li
        class="step step01"
        (click)="setActiveStep(step)"
        [ngClass]="{
          'active': step.stepName == activeStep.stepName,
          'active-completed': step.isCompleted
      }"
        *ngFor="let step of stepsList"
      >
        <div class="step-inner">{{ step.stepName }}</div>
      </li>
    </ul>
    <div id="line">
      <div id="line-progress" [style.width.%]="stepperCompletionValue"></div>
    </div>

    <div id="progress-content-section">
      <div
        class="section-content step1 active"
        *ngIf="activeStep.stepName == 'Choose a language.'"
      >
        <p>
          The first step is to choose the language in which you want to develop
          the project, this step is based on your experience in different
          languages and the one you feel comfortable programming in.
        </p>
        <p>
          The most used languages are:
          <a href="https://learn.microsoft.com/en-us/dotnet/csharp/">C#</a>,
          <a href="https://javascript.info/">JavaScript</a>,
          <a href="https://www.python.org/doc/">Python</a>,
          <a href="https://docs.oracle.com/en/java/">Java</a>.
        </p>
        <p>
          Then, there are different libraries, frameworks, technologies, such
          as: <a href="https://react.dev/" target="_blank">React</a>,
          <a href="https://angular.dev/" target="_blank">Angular</a>,
          <a href="https://learn.microsoft.com/en-us/dotnet/" target="_blank"
            >.NET</a
          >,
          <a href="https://nodejs.org/docs/latest/api/" target="_blank">Node</a
          >,
          <a href="https://www.djangoproject.com/start/" target="_blank"
            >Django</a
          >,
          <a
            href="https://docs.spring.io/spring-boot/index.html"
            target="_blank"
            >SpringBoot</a
          >, etc.
        </p>
        <p>
          Remember to save all your progress in
          <a href="https://github.com/" target="_blank"> Github!</a>
        </p>
        <br />
        <div style="text-align: center">
          <h3 (click)="setActiveLanguage()" class="textH3">Try them!</h3>
          <p *ngIf="tryOutLanguages">
            <a
              href="https://onecompiler.com/studio/react"
              target="_blank"
              style="margin-right: 5px"
              ><img src="../assets/imgs/icon-react.png" title="React"
            /></a>
            <a
              href="https://onecompiler.com/studio/angular"
              target="_blank"
              style="margin-right: 5px"
              ><img src="../assets/imgs/icon-angular.png" title="Angular"
            /></a>
            <a
              href="https://onecompiler.com/csharp"
              target="_blank"
              style="margin-right: 5px"
              ><img src="../assets/imgs/icon-csharp.png" title="C#"
            /></a>
            <a
              href="https://onecompiler.com/nodejs"
              target="_blank"
              style="margin-right: 5px"
              ><img src="../assets/imgs/icon-node.png" title="NodeJS"
            /></a>
            <a
              href="https://onecompiler.com/python"
              target="_blank"
              style="margin-right: 5px"
              ><img src="../assets/imgs/icon-python.png" title="Python Django"
            /></a>
            <a
              href="https://onecompiler.com/studio/spring-boot"
              target="_blank"
              style="margin-right: 5px"
              ><img
                src="../assets/imgs/icon-springboot.png"
                title="Java SpringBoot"
            /></a>
          </p>
        </div>
      </div>
      <div
        class="section-content step2 active"
        *ngIf="activeStep.stepName == 'Thinking or looking for a project.'"
      >
        <p>
          This is the most difficult step for me, the choice of the project to
          choose is something quite personal, in my case I like to choose
          projects that help me in my day to day, that generate a contribution
          to me or to society. It is also necessary to think about the
          complexity of the project, the ideal is to start with a MVP (minimum
          viable product) and then scale the project based on knowledge. Points
          to consider when choosing the project: <br>
          1) Does it help in my daily life? <br>
          2) Does it generate a positive impact on society? Can it help other people? <br>
          3) Can it become a service? <br>
          4) Does something similar exist? Can I improve it? <br>
          5) What is the MVP? <br>
          Once you have the idea in your head it is a good practice to try to
          diagram it, make the flowchart to identify what is needed and
          understand the project from end to end.
        </p>
      </div>
      <div
        class="section-content step3 active"
        *ngIf="activeStep.stepName == 'Start developing.'"
      >
        <p>
          This is the most fun step for me. It is the moment to start programming, to make mistakes, to learn, and to feel like a god when solving something quickly, only to feel like a junior when struggling to center a div or consume an API. At this point, it is important to develop without fear of making mistakes. The key is to try to solve the problem and learn along the way. Some good practices include:
        </p>
        <h6>Development Methodologies:</h6>
        <p>Consider using agile methodologies such as <a href="https://www.scrum.org/learning-series/what-is-scrum/" target="_blank">Scrum</a> or <a href="https://kanbanguides.org/" target="_blank">Kanban</a> to organize your work.</p>
        <h6>Version Control:</h6>
        <p>Use Git to manage the versions of your project. <a href="https://git-scm.com/">More information about Git.</a></p>
        <h6>Development Environment:</h6>
        <p>Some examples of IDEs are <a href="https://code.visualstudio.com/" target="_blank">Visual Studio Code</a>, <a href="https://www.jetbrains.com/idea/" target="_blank">IntelliJ IDEA</a>, <a href="https://www.jetbrains.com/pycharm/" target="_blank">PyCharm</a>, etc.</p>
        <p>It is also important to develop project documentation so that other developers can contribute to the project.</p>
        <h2 style="color: darkred;"><u>Start now!</u></h2>
      </div>
    </div>
  </div>

</div>
